<div class="cartao-div">
    <span [className]="unidade.opened ? 'status aberto' : 'status fechado'">
        {{unidade.opened ? 'Aberto' : 'Fechado'}}
    </span>
    <h3 class="nome">
        {{unidade.title}}
    </h3>
    <p class="endereco" [innerHTML]="unidade.content"></p>
    <div class="restricoes">
        <img *ngIf="unidade.mask!=undefined"          [src]="'/' + unidade.mask          + '-mask.png'"      class="imagemRestricoes">
        <img *ngIf="unidade.towel!=undefined"         [src]="'/' + unidade.towel         + '-towel.png'"     class="imagemRestricoes">
        <img *ngIf="unidade.fountain!=undefined"      [src]="'/' + unidade.fountain      + '-fountain.png'"  class="imagemRestricoes">
        <img *ngIf="unidade.locker_room!=undefined"   [src]="'/' + unidade.locker_room   + '-lockerroom.png'" class="imagemRestricoes">
    </div>
    @if (unidade.schedules) {

        <ul class="horariosFuncionamento">

        @for (horario of unidade.schedules; track $index) {

                <li>
                    <span class="dia"> {{horario.weekdays}}</span>
                    <span> {{horario.hour}} </span>
                </li>

        }

        </ul>

    }
</div>
