.status{
    font-weight: 700;
}

.aberto{
    color: var(--green);
    font-weight: 700;
}

.fechado{
    color: var(--red);
    font-weight: 700;
}

.cartao-div{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--lighter-grey);
    align-items: stretch;
    border-radius: 5px;
    gap: 2vh;
    
    width: 18vw;
    height: 55vh;
    padding: 2vh;

}


.nome{

    color: var(--title-grey);

}

.endereco{

    border-bottom: 2px solid #c9c9c9;
    padding-bottom: 2vh;
    color: var(--light-grey);
    font-weight: 500;

}

.restricoes{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

}

.imagemRestricoes{

    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
    min-width: 60px;

}

.horariosFuncionamento{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    color: var(--title-grey);

    li{
        display: flex;
        flex-direction: column;
    }

    .dia{

        font-weight: bold;
        font-size: 1.1em;

    }

}

@media (max-width: 1349px){
    
    .cartao-div{
        
        width: 25vw;
        height: 65vh;
        
    }

}

@media (max-width: 768px){
    
    .cartao-div{
        
        width: 38vw;
        height: 75vh;
        
    }
    
}

@media (max-width: 666px){

    .cartao-div{
        
        width: 75vw;
        padding: 5vh 8vw

    }

}