<header>
    <div class="logo-div">
        <img src="logo.svg" alt="logo" class="logo" />
    </div>
    <div class="texto-div">
        <div class="titulo-div">
            <h1 id="titulo">Reabertura <br> Smart Fit</h1>
            <span id="linha-divisoria"></span>
        </div>
        <p>O horário de funcionamento das nossas
            unidades está seguindo os decretos de
            cada município. Por isso, confira aqui se
            a sua unidade está aberta e as medidas
            de segurança que estamos seguindo.</p>
    </div>
</header>