<div class="lista-legendas">
    <div class="legenda">
        <span class="titulo-descricao">Máscara</span>
        <div class="lista-descricao">
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
        </div>
    </div>
    <div class="legenda">
        <span class="titulo-descricao">Máscara</span>
        <div class="lista-descricao">
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
        </div>
    </div>
    <div class="legenda">
        <span class="titulo-descricao">Máscara</span>
        <div class="lista-descricao">
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
        </div>
    </div>
    <div class="legenda">
        <span class="titulo-descricao">Máscara</span>
        <div class="lista-descricao">
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div class="descricao">
                <img src="/required-mask.png" alt="">
                <span>Obrigatório</span>
            </div>
        </div>
    </div>
</div>

<div class="lista-container">
    <app-cartao></app-cartao>
    <app-cartao></app-cartao>
    <app-cartao></app-cartao>
    <app-cartao></app-cartao>
    <app-cartao></app-cartao>
    <app-cartao></app-cartao>
</div>