<div class="lista-legendas">

    @for (legenda of legendas; track $index) {

        <div class="legenda">
            <span class="titulo-descricao">{{legenda.titulo}}</span>
            <div class="lista-descricao">

                @for (restricao of legenda.restricoes; track $index) {

                    <div class="descricao">
                        <img [src]="restricao.icone" alt="">
                        <span>{{restricao.tipo}}</span>
                    </div>

                }

            </div>
        </div>

    }
</div>

<div class="lista-container">
    @for (unidade of listaUnidades; track $index) {

        <app-cartao [unidade]="unidade"></app-cartao>

    }

</div>