/* You can add global styles to this file, and also import other style files */
:root{
    --title-grey: #4b4b4b;
    --dark-grey: #333333;
    --light-grey: #808080;
    --yellow: #FFB612;
    --red: #dc0a17;
    --green: #2FC022;

}

@font-face {
    font-family: 'Gotham';
    src: url(./assets/gotham-black-webfont.woff2);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(./assets/gotham-book-webfont.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(./assets/gotham-bold-webfont.woff2);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(./assets/gotham-light-webfont.woff2);
    font-weight: 300;
    font-style: normal;
}

body{
    margin:0;
    padding: 0;
}

*{
    font-family: 'Gotham';
    margin:0;
    padding:0;
}